body {
    font-family: Arial;
}

h1 {
    margin: 0px;
}

hr {
    color: #c9ccc9;
}

head {
    background-color: #d4ffc7;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eef2f7;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px 20px;
}

main {
    display:flex;
    color: #414748;
    gap: 20px;
}

aside {
    width: 25%;
    background-color: #dbdee1;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    margin: 0px;
}

section {
    width: 75%;
    background-color: #eef2f7;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

footer {
    text-align: center;
    padding: 10px 10px;
}

.boton {
    color: black;
    background-color: #cecbcb;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 1px;
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s;
}

.boton:hover {
    color: white;
    background-color: #6a6d69;
}

.boton-activo {
    color: white;
    background-color: #6a6d69;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 1px;
    text-decoration: none;
    font-size: 15px;
}

.barra-navegacion {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    justify-content: center;
}

.imagen-redonda {
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 15px;
    border-radius: 100%;
}

.content-right {
    display: flex;
    justify-content: right;
}

.content-left {
    display: flex;
    justify-content: left;
}

.img-fix {
    width: 25%;
    height: auto;
    object-fit: cover;
    padding: 15px;
    border-radius: 20px;
}